body {
  background-color: #eee8aa;
}

#main {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.bigDiv {
  text-align: center;
  float: left;
  width: 20%;
}

#game {
  float: left;
  width: 60%;
}

#info {
  float: left;
  width: 20%;
}

#info::after {
    content: "";
    clear: both;
    display: table;
}

/*.bigDiv, #game, #info {
  border: 1px solid #333;
}*/


.allocation {
  font-size: 15px;
  /*width: 300px;*/
  width: 100%;
  padding-bottom: 20px;
  border-bottom: solid;
  text-align: center;
}

.stats:not(:last-child) {
  border-bottom: solid;
  border-bottom-width: thin;
  padding-bottom: 20px;
}

#strength {
  border-top: solid;
}

span {
  padding-left: 10px;
  padding-right: 10px;
}
