body {
  background-color: #eee8aa;
}

.bigDiv {
  text-align: center;
  width: 300px;
}

.allocation {
  font-size: 15px;
  width: 300px;
  padding-bottom: 20px;
  border-bottom: solid;
  text-align: center;
}

.stats:not(:last-child) {
  border-bottom: solid;
  border-bottom-width: thin;
  padding-bottom: 20px;
}

#strength {
  border-top: solid;
}

span {
  padding-left: 10px;
  padding-right: 10px;
}
